@import 'nib'
global-reset()

html, body {
	overflow: hidden;
}

body {
  	height: 100%;
}

#desktop {
  background: linear-gradient(top, #EEE, #BBB);
}

.background{
	display: none;
}

.foreground{
	display: block;
  width: 100%;
  height: 100%;
}

#dock{
  height: 58px;
  overflow: hidden;
}

#primary{
  /*height: auto;*/
}